@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    background-color: #4D4F50;
}

.loginBox{
    margin-left: 50%;
    margin-top: 10vh;
    transform: translateX(-50%);
    background-color: #18694F;
    width: 420px;
    height: 60vh;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0px 0px 10px black;
}

h1{
    padding-top: 15vh;
    color: black;
    font-family: 'Bebas Neue';
    font-size: 60px;
}

#loginForm {
    padding-top: 5vh;
}

.form-outline {
    width: 80%;
    margin: auto;
    margin-bottom: 30px;
}

.btn-primary {
    color: black;
    background-color: #E33E1B;
    font-family: 'Poppins';
}

.btn-primary:hover {
    color: black;
    background-color: #ff451b;
}

.credentials {
    color: white;
}




.menuBtn {
    padding-top: 25px;
}

.menuBtn .btn{
    width: 70%;
    font-size: 20px;
    color: whitesmoke;
    background-color: #4D4F50;
}

.menuBtn a {
    color: whitesmoke;
    font-family: 'Bebas Neue';
    font-size: 25px;
}